<h1>{{title}}</h1>
<div class="container">
<form>

 Numero 1: <input type="number" [(ngModel)]="numero1" name="numero1"><br/><br/> <!--Binding Bidireccional-->

 Numero 2: <input type="number" [(ngModel)]="numero2" name="numero2"><br/><br/>

 <input type="submit" value="sumar" (click)="sumar()" class="btn btn-primary">

 <input type="submit" value="restar" (click)="restar()" class="btn btn-primary"> <!--btn btn -primary le da una vista bonita los botones, bastante moderna-->

</form>

<p>Resultado: {{resultado}}</p> <!--Interpolacion-->
</div>